.Projects{
    display: flex;
    justify-content: center;
}
.Articles{
    display: flex;
    justify-content: center;
}
h1{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: rgb(32, 161, 241);
    padding: 4px 8px;
}
